/* font */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

/* =============== I. (Start) header =============== */

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#headerleft {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

#headerright {
  position: relative;
  bottom: 10px; /* Điều chỉnh giá trị top tùy vào độ cao bạn muốn */
}
#header-seacrh {
  background-color: rgb(23, 26, 33);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

#txt-container {
  max-width: 3900px;
  margin: 0 auto;
  background-color: rgb(23, 26, 33);
  padding: 35px 50px;
  color: rgb(250, 250, 250);
  max-width: 1014px;
}

#txt-container a {
  color: rgb(191, 195, 204);
  margin-left: 7px;

  transition: 0.06s;
}
#txt-container a:hover {
  color: rgb(253, 255, 255);
  text-decoration: none;
}

#dropdown-content a {
  transition: 0.09s;
}
#dropdown-content a:hover {
  color: rgb(253, 255, 255);
}


/* =============== I. (End) header =============== */

/* =============== I. (Start) footer =============== */
footer {
  background-color: rgb(23, 26, 33);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.container-footer {
  max-width: 916px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 90px;
}

.footer-column {
  flex-basis: 25%;
  margin-bottom: 20px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-column p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: rgb(191, 195, 204);
  transition: 0.3s;
}

.footer-column ul li a:hover {
  color: #ffffff;
}
.footer-margin {
  margin-top: 150px;
}
.footer-margin .container-footer .footer-content p {
  color: rgb(191, 195, 204);
}
#footer-column h3 {
  color: rgb(191, 195, 204);
}
#footer-column p {
  color: rgb(191, 195, 204);
}
#footer-column h3 {
  color: rgb(191, 195, 204);
}
#footer-column h3 {
  color: rgb(191, 195, 204);
}

#social:hover a {
  border: none;
  text-decoration: none;
}
/* thanh cuộn */
body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  overflow: auto;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}
/* =============== I. (End) footer =============== */

#cartOverlay{
  color: white;
}